@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");/* */
/* toutes les fonts du projet
font-family:    'Big Shoulders Display';font-size: 22px;
font-family:    'Bagel Fat One';font-size: 22px;
font-family:    'Chau Philomene One';font-size: 22px;
font-family:    'Open Sans';font-size: 22px;
*/
body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 25, 25);
  margin-top: 100px;
  text-align: center;
}
#quiz {
  margin: auto;
  font-family: "Titan One", cursive;
  padding: 20px;
  font-size: 26px;
  color: rgb(217, 96, 15);
  max-width: 600px;
}
#options button {
  margin: 10px;
  padding: 10px 20px;
  height:60px ;
  width: 100px;
  font-family:'Chau Philomene One';font-size: 22px;
  margin-top: 30px;
  border-style: none;
  
  border-radius: 6%;
  cursor: pointer;
}
#score {
  margin-top: 20px;
  font-size: xx-large;
  color: blueviolet;
}
#question{
  font-family:'Chau Philomene One';font-size: 33px;
  color: yellow;
}

.h{
  background-color: rgb(228, 163, 85);
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 6%;
}